
*.db
*.mp4
*.png
COLMAP/Regard3D/*
!Stitching/*
!Stitching/line_flights/line1/*
!Stitching/line_flights/line1/results/*
!Stitching/line_flights/line2/*
!Stitching/line_flights/line2/results/*
!Stitching/line_flights/line3/*
!Stitching/line_flights/line3/results/*
!Stitching/line_flights/line4/*
!Stitching/line_flights/line4/results/*
!Stitching/radial_flights/radial/*
!Stitching/radial_flights/radial1/*
!Stitching/radial_flights/radial1/results/*
*.MOV
