
*.db
*.mp4
*.png
!Stitching/*
!Stitching/line_flights/line1/*
!Stitching/line_flights/line1/results/*
!Stitching/line_flights/line2/*
!Stitching/line_flights/line2/results/*
!Stitching/line_flights/line3/*
!Stitching/line_flights/line3/results/*
